.wrapper:after {
  background: url(../images/body_bg_wine.jpg) 50% 0 repeat-y !important;
  top: 116px;
}
.page {
  width: 100% !important;
}

.main-container, .home_page_header_block {
  width: 858px;
  margin: 0 auto;
}

.main-container {
  clear: both;
  float: none;
  overflow: hidden;
}

.header-container {
  width: 100%;
  background: #fff;
  height: 82px;
}

.header-container .header {
  width: 858px;
  height: 100%;
  margin: 0 auto;
}

.header-container h2.logo, .catalog-category-view .header-container a.logo {
  width: 180px;
  margin: 10px 0 0 0 !important;
  padding: 0 !important;
}


.header-container a.logo {
  margin: 0 30px !important;
  padding: 0;
}

.nav-container {
  height: 35px;
  box-shadow: 0 1px 10px #000;
  z-index: 15 !important;
}

.nav-container #nav {
  width: 951px;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  position: absolute;
  left: 50%;
  margin-left: -300px;
}

#nav ul {
  list-style: none;
}

#nav a {
  text-decoration: none;

}

#nav a:hover, #nav a:hover span, #nav li.level-top a:hover {
  color: #7b7b7b !important;
  background: none;
}

#nav .level-top {
  width: auto;
  float: left;
  margin: 0;
  padding: 0;
}

#nav .level-top > a.level-top {
  padding: 0 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 35px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3b4039;
  height: 35px;
}

#nav .level-top > a.level-top:hover {
  background: #bbb;
}

#nav ul.level0 {
  display: none;
}

#nav .level-top:hover > ul.level0 {
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 858px;
  height: 520px;
  position: absolute;
  left: 50%;
  top: 35px;
  margin-left: -485px;
  background: rgba(255,255,255,0.9) !important;
  border: 1px solid #000;
  border-top: 4px solid #bbb;
  box-sizing: border-box;
  padding: 18px 18px 25px 18px !important;
}

#nav .level-top:hover > ul.level0:before,
#nav .level-top:hover > ul.level0:after {
  content: "";
  display: table;
  clear: both;
}

#nav .level-top:hover > ul.level0:after {
  clear: both;
}

#nav .level-top.nav-2:hover > ul.level0 {
  height: 415px;
}

#nav .level-top.nav-3:hover > ul.level0 {
  height: 320px;
}

#nav .level-top.nav-4:hover > ul.level0 {
  height: 200px;
}

#nav .level-top.nav-5:hover > ul.level0, #nav .level-top.nav-6:hover > ul.level0 {
  height: 175px;
}

#nav ul.level1 {
  padding: 0 0 15px 10px !important;
}

#nav li.level1 {
  width: 22.5%;
  /*float: left;
  /*display: block;*/
  text-align: left;
  margin: 0 2.5% 20px 0 !important;
  padding: 0;
  background: none;
  /*height: 200px;*/
}

#nav li.level1 > a {
  font-size: 12px !important;
  padding: 0 !important;
  margin: 0;
  text-align: left;
  color: #538231;
  text-decoration: none;
  background: none;
  font-weight: bold !important;
}

#nav li.level1 > a > span {
  color: #538231;
}

#nav ul.level1, #nav ul.level1 a {
  background: none !important;
}

#nav li.level2 > a {
  padding: 0 !important;
  margin: 0;
  text-decoration: none;
  background: none;
}

#nav ul.level2, #nav ul.level3 {
  margin: 0;
  padding: 0;
}

#nav li.level3 a {
  padding: 0 !important;
}

.header div.quick-access {
  /*width: 480px;*/
  padding: 0;
  margin: 21px 0 0 0;
}

.header .quick-access .welcome-msg, .header .quick-access .switchers {
  display: none;
}

.header .quick-access .phone {
  float: right;
  padding-top: 4px !important;
}
.quick-access ul.links {
  list-style: none;
  width: auto;
  clear: none;
  float: right;
  margin: 0;
  padding: 0 14px 14px 0;
}

.quick-access ul li {
  float: left;
  line-height: 17px;
}

.header .quick-access .links li {
  padding: 0 20px 0 0;
}

.header .quick-access .links a:link, .header .quick-access .links a:visited {
  background: none;
}

.header .quick-access .form-search, .header .quick-access #search_mini_form {
  width: 135px;
  margin: 0;
  padding: 0;
  float: right;
  clear: none;
}

.header .quick-access .form-search input.input-text {
  background: none;
  border-bottom: 1px solid #999999;
  width: 135px;
  padding: 0;
  margin: 0 0 0 0;
}

.header .quick-access .form-search button.button {
  float: none;
  width: 18px;
  height: 18px;
  display: block;
  margin: 0 0 0 0;
  padding: 0;
  right: 0;
  position: absolute;
  background: url(../images/search_btn.gif) no-repeat 7px 3px;
}

.header .quick-access .phone {
  /*color: #2c2f33 !important;*/
  text-transform: uppercase;
  padding: 3px 34px 0 0;
  height: 22px;
  line-height: 25px;
  font-weight: normal;
  font: 11px Verdana, Helvetica, sans-serif;
}

.header .quick-access .top-link-cart:before {
  content: '';
  display: inline-block;
  background: url(../images/cart.gif) no-repeat 0 0;
  height: 13px;
  width: 13px;
  margin-right: 5px;
  top: 3px;
  position: relative;
}

.cms-index-index .home_page_header_block, .cms-home .home_page_header_block {
/*  margin-top: 20px !important;
  width: 845px;
  height: 435px;*/
  display: none;
}

.cms-index-index .main, .cms-home .main {
  /*padding: 17px 33px 10px 26px;*/
  padding: 0 !important;
}



.main-container {
/*  float: none;
  margin: 0 auto;
  position: relative;
  z-index: 10;*/
}

.main_slider {
  margin: 20px auto 0;
  position: relative;
  z-index: 1;
  width: 848px;
  height: 435px;
  overflow: auto;
}

.main_slider .viewport {
  float: left;
  width: 848px;
  height: 435px;
  overflow: hidden;
  position: relative;
}

.main_slider ul.overview {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.main_slider ul li {
  float: left;
  width: 848px;
  height: 435px;
}

.feature_container {
  width: 848px;
  height: 130px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.feature_container .feature {
  width: 200px;
  height: 130px;
  float: left;
  background: #ccc;
  position: relative;
  margin-left: 16px;
}

.feature_container .feature a {
  width: 100%;
  height: 100%;
  display: block;
}

.feature_container .feature:first-of-type {
  margin: 0;
}

.feature_container .feature span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  background: #000;
  color: #fff;
  padding-left: 8px;
  text-align: left;
}

.product-slider-container {
  width: calc(100% * 2);
  height: 109px;
  /*box-sizing: border-box;*/
  padding: 13px 0 8px 0;
  margin: 25px auto;
  position: relative;
  z-index: 10;
  box-shadow: 0 0 10px #ccc;
  background: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*.product-slider {
  list-style: none;
  height: 146px;
  width: 320px;
  display: block;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}*/

.product-slider-container .viewport {
  /*float: left;*/
  width: 858px;
  height: 178px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.product-slider.overview {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.product-slider li {
  width: 250px;
  float: left;
  margin: 0;
  height: 111px;
  /*background: #ccc;*/
}

.footer-container {
  position: relative;
  z-index: 10;
  background: none !important;
  border: none !important;
  width: 858px;
  margin: 0 auto;
}

.footer-container ul {
  list-style: none;
  width: auto;
  float: left;
  margin: 0 0 0 64px;
  padding: 0;
  text-align: left;
  color: #999;
  box-sizing: border-box;
  /*padding-left: 45px;*/
  display: block;
}

.footer-container ul#products {
  /*padding-left: 31px;*/
}

.footer-container ul#connected {
  width: 150px;
}

.footer-container ul.links {
  display: none;
}

.footer-container ul li {
  width: 100%;
  line-height: 27px;
  font-size: 12px;
  border: none;
  background: none;
  display: block;
}
.footer-container ul h3 {
  color: #cf000f;
  margin-bottom: -5px;
  font-size: 12px;
}

.footer-container ul a {
  text-decoration: none;
  color: #999;
}

.footer-container ul a:hover {
  color: #4e4e4e;
}

.footer-container address {
  width: 100%;
  clear: both;
  text-indent: -999999px;
}

.footer-container .fb em {
  display: inline-block;
  float: right;
  width: 21px;
  height: 21px;
  background: url(/media/social-icons.jpg) no-repeat 0 0;
}

.footer-container .tw em {
  display: inline-block;
  float: right;
  width: 21px;
  height: 21px;
  background: url(/media/social-icons.jpg) no-repeat 0 -26px;
}

.footer-container .yt em {
  display: inline-block;
  float: right;
  width: 21px;
  height: 21px;
  background: url(/media/social-icons.jpg) no-repeat 0 -52px;
}

.footer-container .gp em {
  display: inline-block;
  float: right;
  width: 21px;
  height: 21px;
  background: url(/media/social-icons.jpg) no-repeat 0 -78px;
}

.footer-container .pt em {
  display: inline-block;
  float: right;
  width: 21px;
  height: 21px;
  background: url(/media/social-icons.jpg) no-repeat 0 -104px;
}

.footer-container .form-subscribe {
  display: none;
}


/*////////////////*/
/* CATEGORY PAGE */
/*////////////////*/

.catalog-category-view .main-container, .catalogsearch-result-index .main-container {
  margin: 0 auto;
}

.catalog-category-view .main-container ul, .catalogsearch-result-index .main-container ul {
  list-style: none;
}

.catalog-category-view .main-container .main:after {
  content: "";
  display: table;
  clear: both;
}

.breadcrumbs {
  z-index: 10;
  position: relative;
  border-bottom: 1px solid #d9dde3;
  padding: 20px 0 30px;
  margin: 0;
}

.breadcrumbs ul {
  list-style: none;
  display: block;
  margin: 0;
}

.breadcrumbs li {
  float: left;
}

.catalog-category-view .col2-left-layout .sidebar.col-left, .catalogsearch-result-index .col2-left-layout .sidebar.col-left, {
  width: 20%;
  position: relative;
  z-index: 10;
  border: none;
}

.catalog-category-view  .col2-left-layout .sidebar.col-left .block, .catalogsearch-result-index .col2-left-layout .sidebar.col-left .block {
  border: none;
}

.catalog-category-view .col2-left-layout .col-main, .catalogsearch-result-index .col2-left-layout .col-main {
  width: 80%;
  float: right;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  padding: 0;
  border-left: 1px solid #d9dde3;
}

.page-title.category-title {
  display: none !important;
}

.catalog-category-view .pager ol, .col-left.sidebar .block-layered-nav ol, .catalogsearch-result-index .pager ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-category-view p.category-image img, .catalogsearch-result-index p.category-image img {
  width: 100%;
}

.catalog-category-view .pager li, .catalogsearch-result-index .pager li {
  display: inline-block;;
  font-size: 13px;
  font-weight: 700;
  padding: 0 2px;
}

.catalog-category-view .pager li a, .catalogsearch-result-index .pager li a {
  text-decoration: none;
}

.catalog-category-view .pager .amount, .catalogsearch-result-index .pager .amount {
  margin: 0;
}

.catalog-category-view .pager .limiter, .catalogsearch-result-index .pager .limiter {
  padding: 0;
}

.catalog-category-view .toolbar-bottom .limiter, .catalogsearch-result-index .toolbar-bottom .limiter {
  float: none;
}

.catalog-category-view .pager .pages, .catalogsearch-result-index .pager .pages {
  padding: 0;
  margin: 15px 0 30px;
}

.catalog-category-view .pager .pages strong, .catalogsearch-result-index .pager .pages strong {
  display: none;
}

.col-left.sidebar {
  text-align: left;
}

.col-left.sidebar > .block, .col-left.sidebar > .block-content, .col-left.sidebar > form {
  border-style: none;
  padding: 20px 15px 0 15px;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.col-left.sidebar > .block-content {
  border-style: none;
  padding: 5px 15px 0 15px;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.col-left.sidebar > form label {
  font-weight: 700;
}

.col-left.sidebar > form input {
  width: 100%;
  height: 30px;
  margin: 10px 0 5px;
  padding: 0 5px;
  box-sizing: border-box;
}

.col-left.sidebar > form button {
  width: 100%;
  margin-bottom: 25px;
}

.col-left.sidebar .block-title {
  background: none;
  height: auto;
  margin: 0;
}

.col-left.sidebar .block-title strong {
  background: none;
  margin: 0;
  padding: 0;
}

.col-left.sidebar .block-layered-nav dd {
  margin: 0;
  background: none;
}

.col-left.sidebar .block-layered-nav dt {
  display: none;
}

.col-left.sidebar .block-layered-nav ol {
  text-align: left;
}

.col-left.sidebar .block-service .block-content {
  padding: 0;
}

.col2-left-layout .category-products ul.products-grid {
  padding: 0;
  width: 100%;
  clear: both;
  display: block;
}

.col2-left-layout .category-products .products-grid > li.item {
  width: 28%;
  padding: 0 2.6%;
  min-height: 275px;
  margin-bottom: 30px;
}

.catalogsearch-result-index .products-grid > li.item {
  width: 20%;
  padding: 0 2.5%;
  min-height: 350px;
}

.col2-left-layout .category-products .products-grid .add-to-links, .catalogsearch-result-index .products-grid .add-to-links  {
  display: none;
}

.col2-left-layout .category-products .sort-by, .catalogsearch-result-index .category-products .sort-by {
  display: none;
}
.catalog-category-view .products-grid a.product-image, .catalogsearch-result-index .products-grid a.product-image {
  border: none;
}

.catalog-category-view .products-grid .product-image img, .catalogsearch-result-index .products-grid .product-image img {
  width: 100%;
  height: auto;
}

.catalog-category-view .toolbar-bottom, .catalogsearch-result-index .toolbar-bottom {
  clear: both;
}



/*////////////////*/
/* PRODUCT PAGE */
/*////////////////*/
.catalog-product-view .product-view {
  padding-top: 15px;
}

.catalog-product-view .main {
  padding: 0;
  margin: 10px 0 0 0;
  border: none;
}
.catalog-product-view .main-container {
  margin: 0 auto;
  float: none;
  z-index: 10;
  position: relative;
}

.catalog-product-view .main-container ul {
  list-style: none;
}


.catalog-product-view .main-container .main:after {
  content: "";
  display: table;
  clear: both;
}

.catalog-product-view .col1-layout .col-main, .catalog-product-view .col2-right-layout .col-main, .cms-page-view .main {
  width: calc(100% - 20px);
  margin: 30px auto 0;
  float: none;
  display: block;
}

.catalog-product-view .col1-layout .col-main .product-view, .catalog-product-view .col2-right-layout .col-main .product-view {
  clear: both;
  overflow: hidden;
}


.catalog-product-view .product-img-box {
  width: 280px;
  margin-left: 25px;
  float: left;
}

.catalog-product-view .product-img-box .product-image {
  border: none;
}

.catalog-product-view .product-img-box .product-image img {
  width: 100%;
}

.catalog-product-view .product-view .product-shop {
  width: 528px;
  /*width: 494px;*/
  float: right;
  text-align: left;
  padding: 0 25px 0 35px;
  box-sizing: border-box;
}

.catalog-product-view .product-options dd {
  padding-left: 0 !important;
}

.catalog-product-view input, .catalog-product-view select {
  height: 30px;
}

.catalog-product-view input {
  padding: 0 10px;
}

.catalog-product-view .add-to-box {
  margin: 20px 0;
}

.catalog-product-view .add-to-cart button.btn-cart {
  padding: 0 20px;
}

.catalog-product-view .add-to-cart button.btn-cart {
  height: 30px !important;
  background: #538231;
}

.catalog-product-view .add-to-cart button.btn-cart span, .catalog-product-view .add-to-cart button.btn-cart span span {
  background: none !important;
  color: #fff;
}

.catalog-product-view .add-to-cart button.btn-cart span span {
  padding-left: 0;
}

.catalog-product-view .add-to-cart .or {
  display: none;
}

.catalog-product-view .col-right.sidebar {
  display: none;
}
.catalog-product-view .product-shop {
  padding: 0 0 0 35px;
}

.catalog-product-view .product-shop h1 {
  margin: 5px 0 3px 0;
  line-height: 35px;
}

.catalog-product-view .product-shop p {
  margin-bottom: 13px;
}

.catalog-product-view .products-grid .product-image {
  border: none;
}

.catalog-product-view .product-options {
  width: 528px;
  padding: 0 25px 0 35px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: left;
  float: right;
}

.catalog-product-view .product-options dt {
  padding: 15px 0 5px;
  font-weight: 700;
}

.catalog-product-view .product-options dd {
  margin: 0 0 0 0;
  border-bottom: 2px solid #f5f5f5;
  padding: 0 0 15px 10px;
}

.catalog-product-view .product-options .price-notice .price {
  font-weight: 700;
}

.catalog-product-view .product-options select {
  width: 100%;
  margin-bottom: 8px;
}

.catalog-product-view .product-options .qty-holder label {
  clear: both;
  float: none;
}

.catalog-product-view .product-options .qty-holder input {
  width: 35px;
  clear: both;
  float: none;
}

.add-to-links {
  display: block;
  margin: 20px 0 40px;
  padding-left: 0;
  float: left;
  width: 100%;
}

.add-to-links li {
  display: inline-block;
  float: left;
}

.add-to-links .separator {
  margin: 0 10px 0 14px;
}

/* Product Tabs */
.product-tabs {
  /*margin-bottom:15px;*/
  margin-bottom: 0;
  border-bottom: none;
  background:none;
  clear: both;
  overflow: hidden;
  padding: 0;
}
.product-tabs li {
  background:#f2f2f2;
  float:left;
  border-right:1px solid #a4a4a4;
  border-bottom: none;
  font-size:1.1em;
  line-height:1em;

}
.product-tabs li:first-of-type { border-left:0; }
.product-tabs li:last-of-type { border-right:0; }
.product-tabs a {
  display:block;
  padding:6px 18px;
  color:#444;
  text-decoration: none;
}
.product-tabs a:hover { background-color:#ddd; text-decoration:none; color:#444; }
.product-tabs li.active a,
.product-tabs li.active a:hover { background-color:#666; font-weight:bold; color:#fff; }
.product-tabs-content {
  padding-top: 15px;
  border-top: 2px solid #666;
  text-align: left;
}
.product-tabs-content h2 { display:none; font-size:12px; font-weight:bold; }

.product-tabs-content .data-table {
  border-left: none !important;
  border-right: none !important;
}

.product-tabs-content .data-table th {
  width: 10%;
  font-size: 14px;
  display: block;
}

.product-tabs-content .data-table td {
  background: none;
  border: none;
  width: 90%;
}

/* Mini Products Grid */
.mini-products-grid { width:100%; }
.mini-products-grid td { width:20%; padding:0 8px 8px 0; }
.mini-products-grid .product-image { display:block; border:1px solid #cacaca; margin:0 0 10px; }
.mini-products-grid .product-name { width:115px; margin:0 0 6px; overflow:hidden; }
.mini-products-grid .product-name a { color:#444; text-decoration:underline; }
.mini-products-grid .product-name a:hover { text-decoration:none; }
.mini-products-grid td.empty {}
.mini-products-grid td.last { padding-right:0; }
.mini-products-grid .ratings .rating-box { float:none; display:block; margin:0 0 3px; }





.cms-page-view .page-title {
  width: 80%;
  margin: 0 auto;
}
.cms-index-noroute .main {
  text-align: left;
  padding-bottom: 75px;
  overflow: hidden;
  float: left;
}
.cms-index-noroute .main {
  margin: 0 30px;
}
.cms-index-noroute .main dd {
  margin: 0;
}
.cms-page-view .main .std {
  width: 80%;
  margin: 0 auto;
}
.cms-page-view h2 {
  font-size: 20px;
  margin-bottom: 0;
}
.cms-page-view p{
  font-size: 14px;
  line-height: 18px
}
.cms-page-view ul {
  font-size: 14px;
  line-height: 24px
}
.main-container, .cms-page-view .main-container, .cms-index-noroute .main-container {
  position: relative;
  z-index: 10;
}
.cms-locations .locationListing {
  clear: both;
  overflow: hidden;
  margin-bottom: 50px;
}
.cms-locations .locationListing h2:first-of-type {
  margin-top: 0;
}
.cms-locations .left {
  float: left;
}

.cms-locations .right {
  float: right;
}

.cms-infographics .info-link {
  width: 40%;
  height: 200px;
  margin: 0 10% 50px 0;
  float: left;
  overflow: hidden;
}

.cms-infographics .info-link img {
  width: 100%;
}

.cms-infographics .info-link h2 {
  position: absolute;
  top: 180%;
  text-align: center;
}

/**/
/**/
/* ACCOUNT PAGES STYLES */
/**/
/**/
.customer-account-login .main, .customer-account-create .main {
  margin: 0 30px 100px;
  text-align: left;
  float: left;
  width: 100%;
}

.customer-account-create .main form {
  clear: both;
  overflow: hidden;
  display: block;
}

.customer-account-login .col-1, .customer-account-login .col-2 {
  width: 45%;
  margin-right: 2.5%;
  float: left;
}

.customer-account-create .main form .fieldset {
  width: 40%;
  margin-right: 5%;
  float: left;
}

.customer-account-create .main .buttons-set {
  clear: both;
}

.customer-account-create .main .buttons-set p.required {
  width: 100%;
  clear: both;
}

.customer-account-create .main .buttons-set p.back-link {
  float: left;
  margin-right: 20px;
}

.customer-account-create .main .buttons-set p.back-link a.back-link {
  line-height: 30px;
  font-size: 14px;
}

.customer-account-login .main ul, .customer-account-create .main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.customer-account-login input, .customer-account-create input {
  height: 30px;
  padding: 0 10px;
  margin: 0 0 10px 0;
  width: 100%;
  box-sizing: border-box;
}

.customer-account-login .main ul.form-list li.control, .customer-account-create .main ul.form-list li.control {
  clear: both;
  width: 100%;
  display: block;
  float: left;
}

.customer-account-login .main ul.form-list li.control .input-box, .customer-account-create .main ul.form-list li.control .input-box {
  float: left;
}

.customer-account-login .main ul.form-list li.control label, .customer-account-create .main ul.form-list li.control label {
  float: left;
  line-height: 30px;
  padding-left: 20px;
}

/**/
/**/
/* CHECKOUT STYLES */
/**/
/**/
.checkout-cart-index .main-container {
  z-index: 10;
  position: relative;
}
.checkout-cart-index .main-container fieldset {
  margin: 0;
  padding-bottom: 0;
  border: none;
}
.cart .discount button.button, .cart .shipping button.button, #shopping-cart-table button.button, .my-wishlist .buttons-set button.button {
  height: 26px !important;
  background: #b1b1b1;
  border-radius: 5px;
  padding-top: 0;
}
.cart .discount button.button span, .cart .shipping button.button span, #shopping-cart-table button.button span, .my-wishlist .buttons-set button.button span, .cart button.btn-proceed-checkout span {
  background: none !important;
  border-radius: 0;
  padding-top: 0;
}
.cart button.btn-proceed-checkout {
  color: white;
  background: #538231;
  border-radius: 5px;
  height: 46px !important;
  padding: 0;
}
.checkout-cart-index .cart-collaterals .col-2 button.btn-proceed-checkout {
  width: 86%;
}
.cart button.btn-proceed-checkout > span, .cart button.btn-proceed-checkout > span span {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  height: 19px;
  line-height: 18px;
}
.cart button.btn-proceed-checkout:hover > span, .cart button.btn-proceed-checkout:hover > span span {
  color: #d2ebc1;
}
.cart button.btn-proceed-checkout > span span:after {
  display: inline-block;
  content: '>>';
  padding: 0 0 0 10px;
  font-size: 13px;
  line-height: 13px;
}
#shopping-cart-table {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}
#shopping-cart-table tfoot td {
  padding: 20px 10px 20px 13px;
}
.checkout-cart-index .no-crosssell {
  display: none;
}
.checkout-cart-index .cart-collaterals {

}
.checkout-cart-index .cart-collaterals .col-1 {

}
.checkout-cart-index .cart-collaterals .col-2 {
  text-align: left;
  width: 95.2%;
  margin: 0 auto 60px;
  clear: both;
  overflow: hidden;
}
#shopping-cart-totals-table, #shopping-cart-totals-table td {
  border: 1px solid #d9dde3;
  border-collapse: collapse;
  border-top: none;
}
.checkout-cart-index .cart-collaterals .col-2 button span span {
  padding: 0;
}
.checkout-cart-index .cart-collaterals .col-2 #discount-coupon-form {
  width: 30%;
  float: left;
}
.checkout-cart-index .cart-collaterals .col-2 #discount-coupon-form .buttons-set, .checkout-cart-index .cart-collaterals .col-2 #discount-coupon-form .input-box {
  padding: 0;
  margin: 0;
  clear: both;
  width: 100%;
}
.checkout-cart-index .cart-collaterals .col-2 #discount-coupon-form .buttons-set, .checkout-cart-index .cart-collaterals .col-2 #discount-coupon-form .input-box {
  padding-top: 10px;
}
.checkout-cart-index .cart-collaterals .col-2 #discount-coupon-form button.button {
  width: 78.5%;
}
.checkout-cart-index .cart-collaterals .col-2 select, .checkout-cart-index .cart-collaterals .col-2 input, .checkout-cart-index .cart-collaterals .col-2 #discount-coupon-form input, .checkout-cart-index .cart-collaterals .col-2 button {
  width: 75%;
}
.checkout-cart-index .cart-collaterals .col-2 .shipping {
  width: 35%;
  float: left;
}
.checkout-cart-index .cart-collaterals .col-2 .shipping ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.checkout-cart-index .cart-collaterals .col-2 .shipping li {
  padding-top: 10px;
}
.checkout-cart-index .cart-collaterals .col-2 .shipping li:first-of-type {
  padding-top: 0;
}
.checkout-cart-index .cart-collaterals .col-2 .shipping button.button {
  width: 76.5%;
}
.checkout-cart-index .cart-collaterals .col-2 .shipping dd {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.checkout-cart-index .cart-collaterals .col-2 .shipping input[type='radio'] {
  width: auto;
}
.checkout-cart-index .cart-collaterals .col-2 .totals {
  width: 35%;
  float: left;
  text-align: right;
}
.checkout-cart-index .cart-collaterals .col-2 .totals table {
  width: 100%;
}
.checkout-cart-index .cart-collaterals .col-2 .totals table td, .checkout-cart-index .cart-collaterals .col-2 .totals table td strong, .checkout-cart-index .cart-collaterals .col-2 .totals #shopping-cart-totals-table td span {
  width: 100%;
  font-size: 13px;
  font-weight: 700 !important;
  line-height: 30px;
}
.checkout-cart-index .cart-collaterals .col-2 .totals tr td{
  width: 120px;
  padding-right: 10px;
}
.checkout-cart-index .cart-collaterals .col-2 .totals tr td:first-of-type {
  padding-right: 20px;
  width: 250px;
}
.checkout-cart-index .checkout-types li {
  text-align: right;
}
.checkout-cart-index .cart-collaterals .col-2 .checkout-types {
  margin: 20px 0;
  padding: 0;
  width: 100%;
}

/*////////////////*/
/* CHECKOUT PAGE */
/*////////////////*/
.checkout-onepage-index .main-container {
  margin: 0 auto;
  float: none;
  z-index: 10;
  position: relative;
  overflow: hidden;
  clear: both;
}
.checkout-onepage-index .main-container .main {
  width: 100%;
  overflow: hidden;
  clear: both;
}
.checkout-onepage-index .main-container .main .col-main {
  margin: 0 0 0 5%;
  width: 63%;
}
.checkout-onepage-index .main-container .main .col-main ol {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
}

.checkout-onepage-index .main-container .main .col-left {
  float: right;
  margin: 29px 5% 0 0;
}
.checkout-onepage-index .nav-container #nav, .checkout-onepage-index .quick-access {
  display: none;
}


/* Checkout ============================================================================== */
/********** < Common Checkout Styles */
/* Shipping and Payment methods */
.sp-methods { margin:0 0 8px; }
.sp-methods dt { margin:13px 0 5px; font-weight:bold; }
.sp-methods dd {}
.sp-methods dd li { margin:5px 0; }
.sp-methods label { font-weight:bold; color:#555; }
.sp-methods .price { font-weight:bold; }
.sp-methods .form-list { padding-left:20px; }
.sp-methods .form-list li { margin:0 0 8px; }
.sp-methods select.month { width:154px; margin-right:10px; }
.sp-methods select.year { width:96px; }
.sp-methods input.cvv { width:3em !important; }

.sp-methods .checkmo-list li { margin:0 0 5px; }
.sp-methods .checkmo-list label { width:135px; padding-right:10px; text-align:right; }
.sp-methods .checkmo-list address { float:left; }

.sp-methods .centinel-logos a { margin-right:3px; }
.sp-methods .centinel-logos img { vertical-align:middle; }

.sp-methods .release-amounts { margin:1.5em 0 2em; }
.sp-methods .release-amounts button { float:left; margin:5px 10px 0 0; }

.please-wait { float:right; }
.please-wait img { vertical-align:middle; }
.cvv-what-is-this { font-size:11px; cursor:help; margin-left:10px; }

/* Tooltip */
.tool-tip { border:2px solid #ddd; border-bottom-color:#666; background:#f6f6f6; padding:15px 20px; position:absolute; z-index:9999; }
.tool-tip .btn-close { margin:-9px -14px 0; text-align:right; }
.tool-tip .btn-close a { display:block; margin:0 0 0 auto; width:12px; height:12px; background:url(../images/btn_window_close.gif) 100% 0 no-repeat; text-align:left; text-indent:-999em; overflow:hidden; }
.tool-tip .tool-tip-content { padding:5px; }

/* Gift Messages */
.gift-messages h3 { font-size:12px; font-weight:bold; color:#e87403; }
.gift-messages p.control { color:#8e8d8b; }
.gift-messages-form { position:relative; }
.gift-messages-form label { float:none !important; position:static !important; }
.gift-messages-form h4 { font-size:12px; font-weight:bold; color:#e87403; }
.gift-messages-form .whole-order { margin:0 0 25px; }
.gift-messages-form .item { margin:0 0 10px; }
.gift-messages-form .item .product-img-box { float:left; width:75px; }
.gift-messages-form .item .product-image { margin:0 0 7px; }
.gift-messages-form .item .number { margin:0; font-weight:bold; text-align:center; color:#8a8987; }
.gift-messages-form .item .details { margin-left:90px; }
.gift-messages-form .item .details .product-name { font-size:13px; font-weight:bold; margin:0 0 10px; }
.gift-messages-form .item .details .form-list .field { width:255px; }
.gift-messages-form .item .details .form-list .input-box { width:240px; }
.gift-messages-form .item .details .form-list input.input-text { width:234px; }
.gift-messages-form .item .details .form-list li.wide .input-box { width:500px; }
.gift-messages-form .item .details .form-list li.wide textarea { width:494px; }

.gift-message-link { font-size:11px; background:url(../images/bkg_collapse-gm.gif) 100% 6px no-repeat; padding-right:7px; }
.gift-message-link.expanded { background-position:100% -40px; }
.gift-message-row { background:#f2efe9; }
.gift-message-row .btn-close { float:right; width:12px; height:12px; background:url(../images/btn_remove.gif) 0 0 no-repeat; font-size:0; line-height:0; text-indent:-999em; overflow:hidden; }

/* Checkout Agreements */
.checkout-agreements li { margin:30px 0; }
.checkout-agreements .agreement-content { overflow:auto; height:12em; padding:10px; background:#fbfbfb; border:1px solid #e4e4e4; }
.checkout-agreements .agree { margin:0; padding:10px 0 10px 11px; }
.checkout-agreements .agree input.checkbox { margin-right:6px; }
.checkout-agreements .agree label { font-weight:bold; color:#555; }

.opc .checkout-agreements { padding:5px 30px; }
.opc .checkout-agreements li { margin:20px 0 0; }
.opc .checkout-agreements .agreement-content { background:#fff; padding:5px; }
.opc .checkout-agreements .agree { padding-left:6px; }

/* Centinel */
.centinel {}
.centinel .authentication { border:1px solid #ddd; background:#fff; }
.centinel .authentication iframe { width:99%; height:400px; background:transparent !important; margin:0 !important; padding:0 !important; border:0 !important; }

.opc .centinel { padding:10px 30px; }

/* Generic Info Set */
.info-set { background:#fbfbfb; border:1px solid #ddd; margin:0 0 25px; padding:20px; }
.info-set h2 { font-size:12px; font-weight:bold; margin:0 0 10px; }
.info-set h3,
.info-set h4 { font-size:12px; font-weight:bold; }
.info-set h2 a,
.info-set h3 a,
.info-set h4 a { font-weight:normal; }
.info-set h2.legend { margin:-20px -20px 15px; padding:3px 10px; background:#777; border-bottom:1px solid #777; position:relative; color:#fff; }
.info-set h2.legend a { color:#fff; }
.info-set h3.legend { margin:0 0 10px; }
.info-set .divider { margin:0 -20px; padding:25px 0; position:relative; }
.info-set .box { margin:0 0 15px; }
.info-set .box h2 { color:#e26703; }
.info-set .data-table .product-name { font-size:1em !important; font-weight:bold !important; color:#4f8100 !important; }
.info-set .data-table .product-name a { font-weight:bold !important; }
.info-set .data-table .item-options { margin:5px 0 0; }
/********** Common Checkout Styles > */

/* One Page Checkout */
.block-progress { border:0; margin:0; }
.block-progress .block-title { background:none; border:0; padding:0; margin:0 0 5px; }
.block-progress .block-title strong { font-size:12px; }
.block-progress .block-content { background:none; padding:0; }
.block-progress dt { font-size:10px; line-height:1.35; background:#eee; border:1px solid #ddd; margin:0 0 6px; padding:2px 8px; color:#555; text-transform:uppercase; }
.block-progress dd { border-top:0; padding:2px 10px; margin:0 0 6px; }
.block-progress dt.complete {}
.block-progress dt.complete a { text-transform:none; }
.block-progress dd.complete {}
.block-progress p { margin:0; }
.block-progress .cards-list dt { background:none; border:0 none; color:inherit; font-size:11px; font-weight:bold; margin:5px 0; padding:0; text-transform:none; }
.block-progress .cards-list dd { border:0 none; margin:0; padding:0; }
.block-progress .cards-list .info-table th { font-weight:normal; }

.opc .buttons-set { margin-top:0; padding-top:2em; }
.opc .buttons-set p.required { margin:0; padding:0 0 10px; }
.opc .buttons-set.disabled button.button { display:none; }
.opc .buttons-set .please-wait { height:28px; line-height:28px; }
.opc .ul { list-style:none; padding-left:18px; }

.opc { position:relative; }
.opc li.section {
  display: block;
  overflow: hidden;
  clear: both;
  list-style: none;
  margin-bottom: 5px;
  text-align: left;
}
.opc li.section ul {
  list-style: none;
  padding: 0;
  border: none;
}
.opc li.section .col2-set {
  clear: both;
  overflow: hidden;
}
.opc li.section .col2-set > div {
  width: 45%;
  float: left;
  text-align: left;
}
.opc li.section .col2-set > div:last-of-type {
  margin-left: 5%;
}
.opc li.section fieldset, .opc li.section dd {
  border: none;
  padding: 0;
  margin: 0;
}
.opc li.section .field, .opc li.section .wide {
  overflow: hidden;
}
.opc li.section .field label, .opc li.section .wide label {
  padding: 20px 0 5px 0;
  display: block;
}
.opc li.section .input-box {
  padding-bottom: 5px;
  clear: both;
  overflow: hidden;
}
.opc li.section .input-box input {
  padding: 0 10px;
}
.opc li.section .input-box input, .opc li.section .input-box select {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
}
.opc li.section .input-box .v-fix {
  float: left;
}
.opc li.section .input-box .v-fix select{
  width: 130px;
  margin-right: 10px;
}
.opc li.section .buttons-set {
  clear: both;
  overflow: hidden;
  margin-top: 30px;
  border-top: 1px solid #ccc !important;
}
.opc li.section .buttons-set p.required {
  width: 100%;
  text-align: center;
}
.opc li.section button.button {
  float: right;
  background: #538231;
}
.opc li.section button.button:hover, .opc li.section button.button span:hover {
  color: #d2ebc1;
}

.opc li.section .back-link {
  float: left;
  font-size: 11px;
}
.opc li.section .back-link a {
  font-size: 14px;
}


.opc .step-title { border:1px solid #ddd; border-top-color:#fff; background:#eee; padding:4px 15px 6px; text-align:right; height: 50px; }
.opc .step-title .number { float:left; background: none; border:1px solid #fff; padding:0; margin:4px 5px 0 0; font:normal 11px/12px arial, helvetica, sans-serif; color:#444; line-height: 40px !important; border-radius: 50%; height: 40px; width: 40px; text-align: center;}
.opc .step-title h2 { float:left; margin:0; font:bold 20px/14px Arial, Helvetica, sans-serif; color:#538231; line-height: 50px !important; font-weight: 700;}
.opc .step-title a { display:none; float:right; font-size:11px; line-height: 50px !important;}

.opc .allow .step-title { background:#999; border-color:#999; border-top-color:#fff; color:#fff; cursor:pointer; }
.opc .allow .step-title .number {color: #5b5b5b;}
.opc .allow .step-title h2 { color:#fff; }
.opc .allow .step-title a { display:block; font-size:10px; color:#fff; text-transform:uppercase; }

.opc .active .step-title { background:#e46b00; border-color:#e46b00; border-top-color:#fff; padding-bottom:5px; color:#fff; cursor:default; }
.opc .active .step-title .number { background: #fff; border: none;}
.opc .active .step-title h2 { color:#fff !important; }
.opc .active .step-title a { display:none; }

.opc .step { border:1px solid #538231 !important; border-top:0; background:#fbfbfb; padding:15px 30px; position:relative; }
.opc .step .tool-tip { right:30px; }

#opc-login h3 { font-size:13px; border-bottom:1px solid #e4e4e4; padding-bottom:2px; text-transform:uppercase; }
#opc-login h4 { font-size:1em; font-weight:bold; margin:0; color:#2f2f2f; }

#opc-shipping_method .buttons-set { border-top:0; }
.opc .gift-messages-form { margin:0 -30px; background:#f4f4f4; border:1px solid #ddd; border-width:1px 0; padding:22px 24px 22px 30px; }
.opc .gift-messages-form .inner-box { padding:5px; height:260px; overflow:auto; }

#opc-review .step { padding:0; }
#opc-review .product-name { font-weight:bold; }
#opc-review .item-options { margin:5px 0 0; }
#opc-review .buttons-set { border:0; padding:15px 30px; }
#opc-review .buttons-set p { margin:0; line-height:28px; }
#opc-review .buttons-set .please-wait { height:28px; line-height:28px; }
#opc-review .authentication { margin:0 auto; width:570px; }
#opc-review .warning-message { color:#222; font-weight:bold; text-align:center; padding:10px 10px 0; }

/* Multiple Addresses Checkout */
.checkout-progress { padding:0 90px; margin:0 0 20px; }
.checkout-progress li { float:left; width:19%; margin:0 3px 0 0; border-top:6px solid #999; padding:2px 0 0; font-weight:bold; text-align:center; color:#888; }
.checkout-progress li.active { border-top-color:#e96200; color:#e96200; }

.multiple-checkout h2 { font-size:12px; font-weight:bold; margin:0 0 10px; }
.multiple-checkout h3,
.multiple-checkout h4 { font-size:12px; font-weight:bold; }
.multiple-checkout h2 a,
.multiple-checkout h3 a,
.multiple-checkout h4 a { font-weight:normal; }
.multiple-checkout .data-table .product-name { font-size:1em !important; font-weight:bold !important; color:#4f8100 !important; }
.multiple-checkout .data-table .product-name a { font-weight:bold !important; }
.multiple-checkout .data-table .item-options { margin:5px 0 0; }

.multiple-checkout .gift-messages { margin:15px 0 0; }

.multiple-checkout .tool-tip { top:50%; margin-top:-120px; right:20px; }

.multiple-checkout .col2-set,
.multiple-checkout .col3-set { background:#fbfbfb; border:1px solid #ddd; margin:0 0 25px; padding:20px; }
.multiple-checkout .col2-set h2.legend { margin:-20px -20px 15px; padding:3px 10px; background:#777; border-bottom:1px solid #777; position:relative; color:#fff; }
.multiple-checkout .col2-set h3.legend { margin:0 0 10px; }
.multiple-checkout .col2-set .divider { margin:0 -20px; padding:25px 0; position:relative; }
.multiple-checkout .box { margin:0 0 15px; }

.multiple-checkout .place-order .please-wait { float:right; padding:5px 10px 0 0; }
.multiple-checkout .place-order .grand-total { float:right; }
.multiple-checkout .place-order .grand-total .inner {}
.multiple-checkout .place-order .grand-total big { float:left; margin-right:12px; font-size:1.5em; font-weight:bold; line-height:28px; color:#e26703; }
.multiple-checkout .place-order .grand-total div { float:left; }

/* Step 1 */
#multiship-addresses-table td { padding:10px; }
#multiship-addresses-table tfoot td { padding:5px 10px; }

/* Step 2 */
.multiple-checkout .gift-messages-form .item .details .form-list { width:100%; overflow:hidden; }
.multiple-checkout .gift-messages-form .item .details .form-list li { margin-right:-15px; }
.multiple-checkout .gift-messages-form .item .details .form-list .field { width:230px; }
.multiple-checkout .gift-messages-form .item .details .form-list .input-box { width:215px; }
.multiple-checkout .gift-messages-form .item .details .form-list input.input-text { width:209px; }
.multiple-checkout .gift-messages-form .item .details .form-list li.wide .input-box { width:445px; }
.multiple-checkout .gift-messages-form .item .details .form-list li.wide textarea { width:439px; }
.checkout-multishipping-shipping .box-sp-methods { border:1px solid #ddd; background:#eee; padding:13px; position:relative; }
.checkout-multishipping-shipping .box-sp-methods .pointer { display:none; }

/* Step 3 */
.checkout-multishipping-billing .multiple-checkout { position:relative; }
/* ======================================================================================= */


/* Account Login/Create Pages ============================================================ */
.account-login .content { min-height:200px; padding:0 10px; }
.account-login .content h2 { margin:0 -10px 12px; background:#f1f1f1; padding:2px 10px; font-size:13px; line-height:1.25; }
.account-login .buttons-set {}

.account-create {}
/* Account Login/Create Pages ============================================================ */

/* Captcha */
.captcha-note   { clear:left; padding-top:5px; }
.captcha-image  { float:left; display:inline; margin:0; position:relative; width:258px; }
.captcha-image .captcha-img { border:1px solid #b6b6b6; vertical-align:bottom; width:100%; }
.registered-users .captcha-image { margin:0; }
.captcha-reload { cursor:pointer; position:absolute; top:2px; right:2px; }
.captcha-reload.refreshing  { animation:rotate 1.5s infinite linear; -webkit-animation:rotate 1.5s infinite linear; -moz-animation:rotate 1.5s infinite linear; }

@-webkit-keyframes rotate {
    0% { -webkit-transform:rotate(0); }
    0% { -webkit-transform:rotate(-360deg); }
}
@-moz-keyframes rotate {
    0% { -moz-transform:rotate(0); }
    0% { -moz-transform:rotate(-360deg); }
}
@keyframes rotate {
    0% { transform:rotate(0); }
    0% { transform:rotate(-360deg); }
}

#checkout-progress-wrapper .block-progress .block-title {
  color: #fff;
  background: #538231;
  text-align: center;
  height: 30px;
}

#checkout-progress-wrapper .block-progress .block-title span {
  color: #fff;
  line-height: 30px;
}


/**/
/**/
/* MESSAGE STYLES */
/**/
/**/
.messages, .messages ul, .checkout-types {
  list-style: none;
  padding-left: 0;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.messages .success-msg {
  font-weight: 700;
  color: white;
  background: #538231;
  border-radius: 5px;
}

.messages .success-msg span {
  color: white;
}

.messages .error-msg {
  font-weight: 700;
  color: white;
  background: #940202;
  border-radius: 5px;
}

.messages .error-msg span {
  color: white;
}


.cms-diy1g-faq .diy-question {
  text-align: left;
  padding: 20px 0;
  border-bottom: 1px solid #a5a5a5;
  font-weight: 600;
  font-size: 14px;
  padding-left: 20px;
}

.cms-diy1g-faq .diy-question.last {
  border: none;
  margin-bottom: 100px;
}

.cms-diy1g-faq .diy-answer {
  text-align: left;
  padding: 30px 0;
  border-bottom: 1px solid #a5a5a5;
}

#admin_messages {
  margin: 0;
}


/**/
/**/
/* CONTACT PAGE STYLE */
/**/
/**/
.cms-contact-us img.header {
  width: 660px;
  height: auto;
  margin-bottom: 70px;
}
.cms-contact-us .main, .cms-contact-us .main .std {
  width: 100%;
}
.listing {
  width: 45%;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  float: left;
  margin: 0 2.5% 30px;
  overflow: hidden;
  font-size: 13px;
  font-family: arial, sans-serif-light, sans-serif;
  color: #222;
  text-align: left;
  height: 770px;
}
.listing.saltlake {
  margin-right: 5%;
}
.listing p {
  font-size: 13px;
  font-family: arial, sans-serif-light, sans-serif;
  color: #222;
}
.listing ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 17px;
}
.listing li {
  margin: 0 0 5px 5px;
}
.listing a {
  cursor: pointer;
  color: #1a0dab;
  text-decoration: none;
}
.listing .button {
  background: #f5f5f5;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.1);
  text-decoration: none;
  float: right;
  height: 29px;
  line-height: 29px;
  padding: 0 10px;
  display: block;
  font-size: 11px;
  font-weight: 700;
  color: #222;
  margin-top: -6px;
}
.listing .button:hover {
box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px 0px;
}
.listing:last-of-type {
  margin-left: 0;
}
.listing-top {
 overflow: hidden;
 clear: both;
}
.listing-top > div {
  width: 50%;
  float: left;
  position: relative;
  height: 160px;
  overflow: hidden;
}
.listing-top > div  span {
  background: rgba(0,0,0,0.7);
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 5px;
}
.listing-title, .listing-reviews {
  padding: 0 15px 25px;
  overflow: hidden;
  clear: both;
}
.listing h1 {
  font-size: 30px;
  font-family: arial, sans-serif-light, sans-serif;
  color: #222;
  margin: 10px 0 15px 0;
}
.listing .review {
  width: 100%;
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}
.listing .review .text {
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 15px;
}
.listing .stars {
  color: #e7711b;
}
.listing .stars span {
  width: 14px;
  height: 13px;
  display: inline-block;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAmCAMAAACF3/kSAAAARVBMVEUAAADncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvQdmh2AAAAFnRSTlMAEDAg71CgQJDg8HBvYMDPv4/fr3+fs8YwdQAAANlJREFUeF6Nk9uOgCAMBS0g4hVve/7/UzdrE2NXqJ3neSmHad4QqDEyo7WqEdGqDhiMZgfA2dQEINnUHkBvMj3+8BZ1vNTRoi6XuhhMAkOWqZjZMhUTLVMxpcHagG8CfyC/4ov1fuYTOufjFrcr4i7/Dm2osZHxulAKgkrXrZXRppc5NTUcJE5LRdJpqUiSloqkV1OReC0VyailIlnUVCSkp4LDH2Awq6mE6TFc1FLJPJHLnI0y1XZH/nO5bW2q0P2PLlWmOkhOksuDOb5HchZ/15hd6YD9Mdgvr0crAhbtroEAAAAASUVORK5CYII=) no-repeat;
  background-size: 14px 13px;
  text-indent: -999999px;
}
.listing .user-image {
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
  float: left;
  margin-right: 10px;
}
.listing .user-image img {
  width: 100%;
}
.listing .address {
  overflow: hidden;
  clear: both;
  margin-top: 40px;
}
.listing .hours {
  float: left;
}