body {
/*  background: #0f0 !important;*/
}

.wrapper:after {
  background: url(../images/body_bg.jpg) 50% 0 repeat-y !important;
  top: 116px;
}
.page {
  width: 100% !important;
}

.main-container, .home_page_header_block {
  width: 858px;
  margin: 0 auto;
}

.header-container {
  width: 100%;
  background: #fff;
  height: 82px;
}

.header-container .header {
  width: 858px;
  height: 100%;
  margin: 0 auto;
}

.header-container h2.logo, .catalog-category-view .header-container a.logo {
  width: 180px;
  margin: 10px 0 0 0 !important;
  padding: 0 !important;
}


.header-container a.logo {
  margin: 0 30px !important;
  padding: 0;
}

.nav-container {
  height: 35px;
  box-shadow: 0 1px 10px #000;
  z-index: 15 !important;
}

.nav-container #nav {
  width: 951px;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  position: absolute;
  left: 50%;
  margin-left: -300px;
}

#nav ul {
  list-style: none;
}

#nav a {
  text-decoration: none;

}

#nav a:hover, #nav a:hover span, #nav li.level-top a:hover {
  color: #7b7b7b !important;
  background: none;
}

#nav .level-top {
  width: auto;
  float: left;
  margin: 0;
  padding: 0;
}

#nav .level-top > a.level-top {
  padding: 0 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 35px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3b4039;
  height: 35px;
}

#nav .level-top > a.level-top:hover {
  background: #bbb;
}

#nav ul.level0 {
  display: none;
}

#nav .level-top:hover > ul.level0 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 858px;
  height: 450px;
  position: absolute;
  left: 50%;
  top: 35px;
  margin-left: -485px;
  background: rgba(255,255,255,0.9) !important;
  border: 1px solid #000;
  border-top: 4px solid #bbb;
  box-sizing: border-box;
  padding: 18px 18px 25px 18px !important;
}

#nav .level-top:hover > ul.level0:before,
#nav .level-top:hover > ul.level0:after {
  content: "";
  display: table;
  clear: both;
}

#nav .level-top:hover > ul.level0:after {
  clear: both;
}

#nav ul.level1 {
  padding: 0 0 15px 10px !important;
}

#nav li.level1 {
  width: 25%;
  /*float: left;
  /*display: block;*/
  text-align: left;
  margin: 0 2.5% 0 0 !important;
  padding: 0;
  background: none;
  /*height: 200px;*/
}

#nav li.level1 > a {
  font-size: 12px !important;
}

#nav li.level1 > a {
  padding: 0 !important;
  margin: 0;
  text-align: left;
  color: #538231;
  text-decoration: none;
  background: none;
}

#nav li.level1 > a > span {
  color: #538231;
}

#nav ul.level1, #nav ul.level1 a {
  background: none !important;
}

#nav li.level2 > a {
  padding: 0 !important;
  margin: 0;
  text-decoration: none;
  background: none;
}

#nav ul.level2, #nav ul.level3 {
  margin: 0;
  padding: 0;
}

#nav li.level3 a {
  padding: 0 !important;
}

.header div.quick-access {
  width: 440px;
  padding: 0;
  margin: 21px 0 0 0;
}

.quick-access .welcome-msg, .quick-access .switchers {
  display: none;
}

.quick-access .phone {
  float: left;

}
.quick-access ul.links {
  list-style: none;
  width: auto;
  clear: none;
  float: left;
  margin: 0;
  padding: 0 14px 14px 0;
}

.quick-access ul li {
  float: left;
}

.header .quick-access .links li {
  padding: 0 20px 0 0;
}

.header .quick-access .links a:link, .header .quick-access .links a:visited {
  background: none;
}

.header .quick-access .form-search, .header .quick-access #search_mini_form {
  width: 135px;
  margin: 0;
  padding: 0;
  float: left;
  clear: none;
}

.header .quick-access .form-search input.input-text {
  background: none;
  border-bottom: 1px solid #999999;
  width: 135px;
  padding: 0;
  margin: 0 0 0 0;
}

.header .quick-access .form-search button.button {
  float: none;
  width: 18px;
  height: 18px;
  display: block;
  margin: 0 0 0 0;
  padding: 0;
  right: 0;
  position: absolute;
  background: url(../images/search_btn.gif) no-repeat 7px 3px;
}

.header .quick-access .phone {
  color: #2c2f33 !important;
  text-transform: uppercase;
  padding: 3px 34px 0 0;
  height: 22px;
  line-height: 25px;
  font-weight: normal;
  font: 11px Verdana, Helvetica, sans-serif;
}

.header .quick-access .top-link-cart:before {
  content: '';
  display: inline-block;
  background: url(../images/cart.gif) no-repeat 0 0;
  height: 13px;
  width: 13px;
  margin-right: 5px;
  top: 3px;
  position: relative;
}

.cms-index-index .home_page_header_block, .cms-home .home_page_header_block {
/*  margin-top: 20px !important;
  width: 845px;
  height: 435px;*/
  display: none;
}

.cms-index-index .main, .cms-home .main {
  /*padding: 17px 33px 10px 26px;*/
  padding: 0 !important;
}



.main-container {
/*  float: none;
  margin: 0 auto;
  position: relative;
  z-index: 10;*/
}

.main_slider {
  margin: 20px auto 0;
  position: relative;
  z-index: 1;
  width: 848px;
  height: 435px;
  overflow: auto;
}

.main_slider .viewport {
  float: left;
  width: 848px;
  height: 435px;
  overflow: hidden;
  position: relative;
}

.main_slider ul.overview {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.main_slider ul li {
  float: left;
  width: 848px;
  height: 435px;
}

.feature_container {
  width: 848px;
  height: 130px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.feature_container .feature {
  width: 200px;
  height: 130px;
  float: left;
  background: #ccc;
  position: relative;
  margin-left: 16px;
}

.feature_container .feature a {
  width: 100%;
  height: 100%;
  display: block;
}

.feature_container .feature:first-of-type {
  margin: 0;
}

.feature_container .feature span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  background: #000;
  color: #fff;
  padding-left: 8px;
  text-align: left;
}

.product-slider-container {
  width: calc(100% * 2);
  height: 109px;
  /*box-sizing: border-box;*/
  padding: 13px 0 8px 0;
  margin: 25px auto;
  position: relative;
  z-index: 10;
  box-shadow: 0 0 10px #ccc;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
}

/*.product-slider {
  list-style: none;
  height: 146px;
  width: 320px;
  display: block;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}*/

.product-slider-container .viewport {
  /*float: left;*/
  width: 858px;
  height: 178px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.product-slider.overview {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.product-slider li {
  width: 250px;
  float: left;
  margin: 0;
  height: 111px;
  /*background: #ccc;*/
}

.footer-container {
  position: relative;
  z-index: 10;
  background: none !important;
  border: none !important;
  width: 858px;
  margin: 0 auto;
}

.footer-container ul {
  list-style: none;
  width: auto;
  float: left;
  margin: 0 0 0 64px;
  padding: 0;
  text-align: left;
  color: #999;
  box-sizing: border-box;
  /*padding-left: 45px;*/
  display: block;
}

.footer-container ul#products {
  /*padding-left: 31px;*/
}

.footer-container ul#connected {
  width: 150px;
}

.footer-container ul.links {
  display: none;
}

.footer-container ul li {
  width: 100%;
  line-height: 27px;
  font-size: 12px;
  border: none;
  background: none;
  display: block;
}
.footer-container ul h3 {
  color: #cf000f;
  margin-bottom: -5px;
  font-size: 12px;
}

.footer-container ul a {
  text-decoration: none;
  color: #999;
}

.footer-container ul a:hover {
  color: #4e4e4e;
}

.footer-container address {
  width: 100%;
  clear: both;
  text-indent: -999999px;
}

.footer-container .fb em {
  display: inline-block;
  float: right;
  width: 21px;
  height: 21px;
  background: url(/media/social-icons.jpg) no-repeat 0 0;
}

.footer-container .tw em {
  display: inline-block;
  float: right;
  width: 21px;
  height: 21px;
  background: url(/media/social-icons.jpg) no-repeat 0 -26px;
}

.footer-container .yt em {
  display: inline-block;
  float: right;
  width: 21px;
  height: 21px;
  background: url(/media/social-icons.jpg) no-repeat 0 -52px;
}

.footer-container .gp em {
  display: inline-block;
  float: right;
  width: 21px;
  height: 21px;
  background: url(/media/social-icons.jpg) no-repeat 0 -78px;
}

.footer-container .pt em {
  display: inline-block;
  float: right;
  width: 21px;
  height: 21px;
  background: url(/media/social-icons.jpg) no-repeat 0 -104px;
}

.footer-container .form-subscribe {
  display: none;
}


/*////////////////*/
/* CATEGORY PAGE */
/*////////////////*/

.catalog-category-view .main-container {
  margin: 0 auto;
}

.catalog-category-view .main-container ul {
  list-style: none;
}

.catalog-category-view .main-container .main:after {
  content: "";
  display: table;
  clear: both;
}

.breadcrumbs {
  z-index: 10;
  position: relative;
  border-bottom: 1px solid #d9dde3;
  padding: 20px 0 30px;
  margin: 0;
}

.breadcrumbs ul {
  list-style: none;
  display: block;
  margin: 0;
}

.breadcrumbs li {
  float: left;
}

.catalog-category-view  .col2-left-layout .sidebar.col-left {
  width: 20%;
  position: relative;
  z-index: 10;
}

.catalog-category-view .col2-left-layout .col-main {
  width: 80%;
  float: right;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  padding: 0 30px;
}

.catalog-category-view .pager ol, .col-left.sidebar .block-layered-nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-category-view p.category-image img {
  width: 100%;
}

.catalog-category-view .pager li {
  display: inline-block;;
  font-size: 13px;
  font-weight: 700;
  padding: 0 2px;
}

.catalog-category-view .pager li a {
  text-decoration: none;
}

.catalog-category-view .pager .amount {
  margin: 0;
}

.catalog-category-view .pager .limiter {
  padding: 0;
}

.catalog-category-view .toolbar-bottom .limiter {
  float: none;
}

.catalog-category-view .pager .pages {
  padding: 0;
  margin: 15px 0 30px;
}

.catalog-category-view .pager .pages strong {
  display: none;
}

.col-left.sidebar {
  text-align: left;
}

.col-left.sidebar > .block {
  border-style: none solid none none;
  padding: 20px 0 0 20px;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.col-left.sidebar .block-title {
  background: none;
  height: auto;
  margin: 0;
}

.col-left.sidebar .block-title strong {
  background: none;
  margin: 0;
  padding: 0;
}

.col-left.sidebar .block-layered-nav dd {
  margin: 0;
  background: none;
}

.col-left.sidebar .block-layered-nav dt {
  display: none;
}

.col-left.sidebar .block-layered-nav ol {
  text-align: left;
}

.col-left.sidebar .block-service .block-content {
  padding: 0;
}

.col2-left-layout .category-products ul.products-grid {
  padding: 0;
  width: 100%;
  clear: both;
  display: block;
}

.col2-left-layout .category-products .products-grid > li {
  width: 30% !important;
  padding: 0 1.5% !important;
  min-height: 275px !important;
  margin-bottom: 30px;
}
.col2-left-layout .category-products .products-grid .add-to-links {
  display: none;
}

.col2-left-layout .category-products .sort-by {
  display: none;
}
.catalog-category-view .products-grid a.product-image {
  border: none;
}

.catalog-category-view .products-grid .product-image img {
  width: 100%;
  height: auto;
}

.catalog-category-view .toolbar-bottom {
  clear: both;
}



/*////////////////*/
/* PRODUCT PAGE */
/*////////////////*/
.catalog-product-view .product-view {
  padding-top: 15px;
}

.catalog-product-view .main {
  padding: 0;
  margin: 10px 0 0 0;
  border: none;
}
.catalog-product-view .main-container {
  margin: 0 auto;
  float: none;
  z-index: 10;
  position: relative;
}

.catalog-product-view .main-container ul {
  list-style: none;
}


.catalog-product-view .main-container .main:after {
  content: "";
  display: table;
  clear: both;
}

.catalog-product-view .col1-layout .col-main, .catalog-product-view .col2-right-layout .col-main {
  width: calc(100% - 20px);
  margin: 30px auto 0;
  float: none;
}

.catalog-product-view .col1-layout .col-main .product-view, .catalog-product-view .col2-right-layout .col-main .product-view {
  clear: both;
  overflow: hidden;
}


.catalog-product-view .product-img-box {
  width: 280px;
  margin-left: 25px;
  float: left;
}

.catalog-product-view .product-img-box .product-image {
  border: none;
}

.catalog-product-view .product-img-box .product-image img {
  width: 100%;
}

.catalog-product-view .product-view .product-shop {
  width: 528px;
  /*width: 494px;*/
  float: right;
  text-align: left;
  padding: 0 25px 0 35px;
  box-sizing: border-box;
}

.catalog-product-view .col-right.sidebar {
  display: none;
}
.catalog-product-view .product-shop {
  padding: 0 0 0 35px;
}

.catalog-product-view .product-shop h1 {
  margin: 5px 0 3px 0;
  line-height: 35px;
}

.catalog-product-view .product-shop p {
  margin-bottom: 13px;
}

.catalog-product-view .products-grid .product-image {
  border: none;
}

.catalog-product-view .product-options {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  clear: both;
  text-align: left;
}

.catalog-product-view .product-options dt {
  padding: 15px 0 5px;
  font-weight: 700;
}

.catalog-product-view .product-options dd {
  margin: 0 0 0 0;
  border-bottom: 2px solid #f5f5f5;
  padding: 0 0 15px 10px;
}

.catalog-product-view .product-options .price-notice .price {
  font-weight: 700;
}

.catalog-product-view .product-options select {
  width: 100%;
  margin-bottom: 8px;
}

.catalog-product-view .product-options .qty-holder label {
  clear: both;
  float: none;
}

.catalog-product-view .product-options .qty-holder input {
  width: 35px;
  clear: both;
  float: none;
}

/* Product Tabs */
.product-tabs {
  margin-bottom:15px;
  border-bottom: none;
  background:none;
  clear: both;
  overflow: hidden;
  padding: 0;
}
.product-tabs li {
  background:#f2f2f2;
  float:left;
  border-right:1px solid #a4a4a4;
  border-bottom:1px solid #666;
  font-size:1.1em;
  line-height:1em;

}
.product-tabs li:first-of-type { border-left:0; }
.product-tabs li:last-of-type { border-right:0; }
.product-tabs a {
  display:block;
  padding:6px 18px;
  color:#444;
  text-decoration: none;
}
.product-tabs a:hover { background-color:#ddd; text-decoration:none; color:#444; }
.product-tabs li.active a,
.product-tabs li.active a:hover { background-color:#666; font-weight:bold; color:#fff; }
.product-tabs-content h2 { display:none; font-size:12px; font-weight:bold; }

/* Mini Products Grid */
.mini-products-grid { width:100%; }
.mini-products-grid td { width:20%; padding:0 8px 8px 0; }
.mini-products-grid .product-image { display:block; border:1px solid #cacaca; margin:0 0 10px; }
.mini-products-grid .product-name { width:115px; margin:0 0 6px; overflow:hidden; }
.mini-products-grid .product-name a { color:#444; text-decoration:underline; }
.mini-products-grid .product-name a:hover { text-decoration:none; }
.mini-products-grid td.empty {}
.mini-products-grid td.last { padding-right:0; }
.mini-products-grid .ratings .rating-box { float:none; display:block; margin:0 0 3px; }





.cms-page-view .page-title {
  width: 80%;
  margin: 0 auto;
}
.cms-page-view .main {
  text-align: left;
  padding-bottom: 75px;
}
.cms-page-view .main .std {
  width: 80%;
  margin: 0 auto;
}
.cms-page-view h2 {
  font-size: 20px;
  margin-bottom: 0;
}
.cms-page-view p{
  font-size: 14px;
  line-height: 18px
}
.cms-page-view ul {
  font-size: 14px;
  line-height: 24px
}
.cms-page-view .main-container, .cms-index-noroute .main-container {
  position: relative;
  z-index: 10;
}
.cms-locations .locationListing {
  clear: both;
  overflow: hidden;
  margin-bottom: 50px;
}
.cms-locations .locationListing h2:first-of-type {
  margin-top: 0;
}
.cms-locations .left {
  float: left;
}

.cms-locations .right {
  float: right;
}

.cms-infographics .info-link {
  width: 40%;
  height: 200px;
  margin: 0 10% 50px 0;
  float: left;
  overflow: hidden;
}

.cms-infographics .info-link img {
  width: 100%;
}

.cms-infographics .info-link h2 {
  position: absolute;
  top: 180%;
  text-align: center;
}