body {
/*  background: #0f0 !important;*/
}

.wrapper:after {
  background: url(../images/body_bg.jpg) 50% 0 repeat-y !important;
  top: 116px;
}
.page {
  width: 100% !important;
}

.main-container, .home_page_header_block {
  width: 858px;
  margin: 0 auto;
}

.header-container {
  width: 100%;
  background: #fff;
  height: 82px;
}

.header-container h2.logo {
  width: 180px;
  margin: 10px 0 0 0 !important;
  padding: 0 !important;
}

.header-container a.logo {

}

.nav-container {
  height: 35px;
  box-shadow: 0 1px 10px #000;
}

.nav-container #nav {
  width: 951px;
  margin: 0 0 0 400px;
  padding: 0;
  list-style: none;
  border: none;
}

#nav .level-top {
  width: auto;
  float: left;
  margin: 0;
  padding: 0;
}

#nav .level-top > a.level-top {
  padding: 0 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 35px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3b4039;
}

#nav ul.level0 {
  display: none;
}

.header div.quick-access {
	left: 50%;
	width: 421px;
	padding: 0;
	margin: 21px 0 0 0;
}

.quick-access .welcome-msg, .quick-access .switchers {
	display: none;
}

.quick-access ul.links {
	list-style: none;
	width: auto;
	clear: none;
	float: left;
	margin: 0;
}

.quick-access ul li {
	float: left;
}

.header .quick-access .form-search, .header .quick-access #search_mini_form {
	width: 135px;
	margin: 0;
	padding: 0;
}

.header .quick-access .form-search input.input-text {
	background: none;
	border-bottom: 1px solid #999999;
	width: 135px;
	padding: 0;
	margin: 0 0 0 0;
}

.header .quick-access .form-search button.button {
  float: none;
  width: 18px;
  height: 18px;
  display: block;
  margin: 0 0 0 0;
  padding: 0;
  right: 0;
  position: absolute;
  background: url(../images/search_btn.gif) no-repeat 0 0;
}

.cms-index-index .home_page_header_block, .cms-home .home_page_header_block {
	margin-top: 20px !important;
	width: 845px;
	height: 435px;
}

.main-container {
/*	float: none;
	margin: 0 auto;
	position: relative;
	z-index: 10;*/
}

.feature_container {
	width: 846px;
	height: 130px;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}

.feature_container .feature {
	width: 200px;
	height: 130px;
	float: left;
	background: #ccc;
	position: relative;
	margin-left: 10px;
}

.feature_container .feature:first-of-type {
	margin: 0;
}

.feature_container .feature span {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 15px;
	background: #000;
	color: #fff;
	padding-left: 8px;
	text-align: left;
}


/*////////////////*/
/* CATEGORY VIEW */
/*////////////////*/
.catalog-category-view {
  background: #0ff;
}

.main-container {
  margin: 0 auto;
  float: left;
}
